@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ico.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  /* background: #e1f5fe; */
  font-family: 'Lato', sans-serif;
}

body {
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

a {
  color: #01579b;
  text-decoration: none;
}

h1 {
  font-size: 3vmax;
}

h2 {
  font-size: 2vmax;
}

.text-red {
  color: #ef9a9a;
}

.text-yellow {
  color: #c6ff00;
}
.collapsible-header{
  display: flex;
align-items: center;
  position: relative;
}
.text-blue {
  color: #90caf9;
}

.text-black {
  color: #616161;
}
.dropdown-trigger {
  display: flex;
  align-items: center;
}
h1, h2, h3 {
  /* color: #01579b; */
  margin: 0;
  padding: 0;
}
.h2_small_tasks{
  margin: 1rem !important;

}
.logo_text {
  font-size: 50px;
  text-align: center;
}
.align-center{
  text-align: center;
}

.toolbar ul {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.collapsible-header>div{
  justify-content: space-between;
width: 50px;
display: flex;
margin: 0 10px 0 0;
align-items: center;
}
.collapsible-header>div>.material-icons{
  margin-right: 5px;
}
.fixed_add {
  position: fixed;
  top: calc(98% - 56px);
  left: calc(95% - 56px);
}

.if_no_tasks_btn {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 112px !important;
  transition: all 0.5s ease;
  height: 112px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.if_no_tasks_btn>.plus_if_no_tasks {
  font-size: 2.6rem;
  transition: all 0.5s ease;
}

.todo-item {
  position: relative;
  font-size: 4vmax;
}

.todo-item.ng-enter {
  -webkit-animation: slideIn 0.4s ease-in-out;
  -moz-animation: slideIn 0.4s ease-in-out;
  animation: slideIn 0.4s ease-in-out;
}

.todo-item.ng-leave {
  -webkit-animation: bounceOut 0.4s linear;
  -moz-animation: bounceOut 0.4s linear;
  animation: bounceOut 0.4s linear;
}

.fa-trash-o:hover {
  -webkit-animation: wiggle 0.4s linear infinite;
  -moz-animation: wiggle 0.4s linear infinite;
  animation: wiggle 0.4s linear infinite;
}

img {
  display: block;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.smoothing_text {
  font-size: 50px;
  display: inline-block;
  text-shadow: 0 0 10px white;
  -webkit-animation: smoky 15s both;
  animation: smoky 5s both;
}

.flex {
  display: flex;
}
#modal_buttons{
  display: flex;
justify-content: space-between;
}
#modal_create, #modal_edit {
  transform: none !important;
  width: 100% !important;
  height: 100vh !important;
  max-height: 100%;
  top: 0 !important;
  max-width: 1000px;
}
form .material-icons{
      margin: 0 0 0 8px;
}
.relative {
  position: relative;
}
#to_time{
  display: flex;
  align-items: center;
}
#to_time i{
  margin-right: 5px;
}
.collapsible-header  .dropdown-trigger {
  position: absolute;
  right: 0%;
}
blockquote{
  overflow: hidden !important;
}
.collapsible-header p {
display: inline;
white-space: normal;
margin: 0;
text-overflow: ellipsis;
overflow: hidden;
width: calc(100% - 100px);
}
.collapsible-header  .dropdown-content li>a{
  display: flex;
  align-items: center;
}
.collapsible-header  .dropdown-content li>a>i{
  margin-right: 0px;
}
.on_progress{
  position: absolute;
right: 0;
bottom: 5px;
}
.progress {
  position: absolute;
  left: 0;
  margin: 0;
  bottom: 0;
}

.collapsible-body {
  position: relative;
}
#modal-bottom .modal-trigger{
  position: absolute;
bottom: 5%;
right: 5%;
}
.modal.bottom-sheet {
  max-height: 90%;
  min-height: 90vh;
}
