<!DOCTYPE html>
<html lang="en" ng-app="Routing">

<head>
  <script src="scripts/all_scripts.min.js"> </script>
  <script src="scripts/js.js" type="text/javascript"> </script>
  <link href="img/favico.png" rel="shortcut icon" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="css/m.css" rel="stylesheet" type="text/css">
  <link href="css/main.css" rel="stylesheet" type="text/css">
  <meta charset="utf-8">
  <title>
    Planner
  </title>
</head>
<!-- {{langs[language].APPNAME}} -->

<body ng-controller="Main">
  <div class="container">
    <h1 class="logo_text">Planner</h1>

    <a class="btn-floating btn-large waves-effect waves-light btn modal-trigger teal fixed_add" href="#modal_create" ng-class="{'if_no_tasks_btn': no_tasks == true}">
      <i class="material-icons" ng-class="{'plus_if_no_tasks': no_tasks == true}">
        add
      </i>
    </a>

    <div class="row " ng-if="no_tasks == true">
      <div class="col s12 ">
        <div class="card-panel ">
          <span class="align-center flow-text">
            No Tasks Available
          </span>
        </div>
      </div>
    </div>


    <ul ng-show="no_tasks == false" class="collapsible " id="collapsible ">
      <li class="active li{{$index}}" ng-repeat="toDo in toDos track by $index">
        <div class="collapsible-header">
          <div class="text-{{important[toDo.important].cl}}">
            <span class="flow-text"> {{important[toDo.important].sm}}</span>
            <i class="material-icons">whatshot</i>
          </div>
          <p class="flow-text">{{toDo.title}}</p>

          <a class='dropdown-trigger ' href='#' id="dropdown-trigger{{$index}}" data-target='dropdown{{$index}}'>
            <i class="material-icons">more_vert</i>
          </a>

          <!-- Dropdown Structure -->
          <ul id='dropdown{{$index}}' class='dropdown-content'>
            <li><a class=" "><i class="material-icons">publish</i>publish</a></li>
            <li><a class=""><i class="material-icons">attach_file</i>pin</a></li>
            <li class="divider" tabindex="-1"></li>


            <li>
              <a ng-click="select($index); " class="modal-trigger" href="#modal_edit">
                <i class="material-icons">
                  edit
                </i>
                edit
              </a>
            </li>
            <li>

              <a class="" ng-click="removeToDo(toDo)">
                <i class="material-icons">
                  delete
                </i>
                delete
              </a>
            </li>
          </ul>

        </div>

        <div class="collapsible-body">
          <div class="row">
            <label for="description_bq">Description of task:</label>
            <blockquote id="#description_bq"> {{toDo.description}}</blockquote>
          </div>
          <div class="row">
            <label for="to_time">Must be done by the:</label>
            <p id="to_time">

              <i class="material-icons">
                access_time
              </i>{{toDo.dueByDate | date:'MMM dd, yyyy'}} {{toDo.dueByTime}}
            </p>
          </div>
          <div class="row">
            <label for="complete_task">To complete this task:</label>
            <p id="complete_task">{{toDo.smaller_tasks.length? 'Need end ' + toDo.smaller_tasks.length + ' Task': '' }}</p>

            <a class="waves-effect waves-white btn-flat modal-trigger" href="#modal-bottom" ng-click="select($index)">
              {{toDo.smaller_tasks.length?'SHOW':'Create list'}}
            </a>
          </div>



          <div class="progress">
            <div class="determinate"></div>
          </div>

        </div>
      </li>

    </ul>

  </div>



  <div id="modal_edit" class="modal">
    <div class="modal-content">
      <div class="row">
        <div class="input-field col s12">
          <h4>Change task</h4>
        </div>
      </div>
      <form name="form_edit">
        <div class="row">
          <div class="input-field col s12">
            <input id="edittodo" ng-model="editToDoTitle" name="edittodo" maxlength="30" data-length="30" type="text" />
            <span class="helper-text">Title of task</span>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea name="editdesc" type="text" ng-model="editToDoDescription" maxlength="120" class="materialize-textarea" data-length="120"></textarea>
            <span class="helper-text">Description of task</span>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">

            <input id="editDueDate" name="editdueDate" type="text" class="datepicker" ng-model="editattedDate">
            <span class="helper-text">End task by Date</span>
          </div>
          <div class="input-field col s6">
            <input id="editDueTime" name="editdueTime" type="text" class="timepicker" ng-model="editformDueTime">
            <span class="helper-text">End task by Time</span>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <select id="important_edit">
              <option value="{{$index}}" ng-repeat="x in important">{{important[$index].sm}} {{important[$index].im}}</option>
            </select>
            <label>Important of task</label>
          </div>
        </div>
        <div class="row">
          <div id="modal_buttons" class="input-field col flex s12">
            <div class="btn waves-effect waves-light flex  modal-close">Cancel
              <i class="material-icons ">
                close
              </i>
            </div>
            <button ng-click="changeTodo(num_task)" type="button" class="btn waves-effect waves-light flex  modal-close">Save
              <i class="material-icons ">
                check
              </i>
            </button>

          </div>
        </div>
      </form>
    </div>
  </div>




  <!-- Modal bottom -->
  <div id="modal-bottom" class="modal bottom-sheet">
    <div class="container">
      <h2 class="flow-text h2_small_tasks align-center">{{toDos[num_task].title}}</h2>

      <a id="add_small_task" class="btn-floating btn-large waves-effect waves-light btn modal-trigger teal " href="#modal_create_small_tasks" ng-class="{'if_no_tasks_btn': toDos[num_task].smaller_tasks == null}">
        <i class="material-icons" ng-class="{'plus_if_no_tasks': no_tasks == true}">
          add
        </i>
      </a>
      <div class="row " ng-show="toDos[num_task].smaller_tasks == null">
        <div class="col s12 ">
          <div class="card-panel ">
            <span class="align-center">
              No Goals Available
            </span>
          </div>
        </div>
      </div>
      <ul ng-hide="toDos[num_task].smaller_tasks == null" class="collapsible ">
        <li class="active li{{$index}}" ng-repeat="f in toDos[num_task].smaller_tasks track by $index">
          <div class="collapsible-header">
            <div class="text-{{important[toDo.important].cl}}">
              <span class="flow-text"> {{important[toDo.important].sm}}</span>
              <i class="material-icons">whatshot</i>
            </div>
            <p class="flow-text">{{toDos[num_task].smaller_tasks[0].title_s}}</p>

            <a class='dropdown-trigger ' href='#' id="dropdown-trigger{{$index}}" data-target='dropdown_small{{$index}}'>
              <i class="material-icons">more_vert</i>
            </a>

            <!-- Dropdown Structure -->
            <ul id='dropdown_small{{$index}}' class='dropdown-content'>
              <li>
                <a ng-click="select($index); " class="modal-trigger" href="#modal_edit_small">
                  <i class="material-icons">
                    edit
                  </i>
                  edit
                </a>
              </li>
              <li>
                <a class="" ng-click="removeToDo(toDo)">
                  <i class="material-icons">
                    delete
                  </i>
                  delete
                </a>
              </li>
            </ul>
          </div>

          <div class="collapsible-body">
            <div class="row">
              <label for="description_bq">Description of task:</label>
              <blockquote id="#description_bq"> {{toDos[num_task].smaller_tasks[0].description_s}}</blockquote>
            </div>
            <div class="row">
              <label for="to_time">Must be done by the:</label>
              <p id="to_time">

                <i class="material-icons">
                  access_time
                </i>{{toDos[num_task].smaller_tasks[0].dueByDate_s | date:'MMM dd, yyyy'}}{{toDos[num_task].smaller_tasks[0].dueByTime_s}}
              </p>
            </div>
            <div class="row">
              asdas
            </div>
            <div class="progress">
              <div class="determinate"></div>
            </div>

          </div>
        </li>
      </ul>
    </div>
  </div>




  <div id="modal_create" class="modal">
    <div class="modal-content">
      <div class="row">
        <div class="input-field col s12">
          <h4>Create Task</h4>
        </div>
      </div>
      <form name="form">
        <div class="row">
          <div class="input-field col s12">
            <label for="todo">Title of task</label>
            <input id="todo" required maxlength="30" data-length="30" name="todo" type="text" ng-model="formToDoTitle" />
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="desc" required name="desc" maxlength="120" class="materialize-textarea" data-length="120" ng-model="formToDoDescription"></textarea>
            <label for="desc">Description of task</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <label for="dueDate">End task by Date</label>
            <input id="dueDate" required name="dueByDate" type="text" type="text" class="datepicker" ng-model="formDueDate">
          </div>
          <div class="input-field col s6">
            <label for="dueTime">End task by Time</label>
            <input id="dueTime" type="text" class="timepicker" ng-model="formDueTime">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <select id="important">
              <option value="{{$index}}" ng-repeat="x in important">{{important[$index].sm}} {{important[$index].im}}</option>
            </select>
            <label>Important of task</label>
          </div>
        </div>
        <div class="row">
          <div id="modal_buttons" class="input-field col flex s12">
            <div class="btn waves-effect waves-light flex  modal-close">Cancel
              <i class="material-icons ">
                close
              </i>
            </div>
            <button ng-disabled="form.$invalid" ng-click="addToDo()" type="button" class="btn waves-effect waves-light flex  modal-close">Create
              <i class="material-icons ">
                check
              </i>
            </button>

          </div>
        </div>
      </form>
    </div>
  </div>

  <div id="modal_create_small_tasks" class="modal">
    <div class="modal-content">
      <div class="row">
        <div class="input-field col s12">
          <h4>Create goals for Task</h4>
        </div>
      </div>
      <form name="form_small_task">
        <div class="row">
          <div class="input-field col s12">
            <label for="todo_small">Title of task</label>
            <input id="todo_small" required maxlength="30" data-length="30" name="todo_small" type="text" ng-model="formToDoTitle_small" />
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="desc_small" required name="desc_small" maxlength="120" class="materialize-textarea" data-length="120" ng-model="formToDoDescription_small"></textarea>
            <label for="desc_small">Description of task</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <label for="dueDate_small">End task by Date</label>
            <input id="dueDate_small" required name="dueByDate_small" type="text" class="datepicker" ng-model="formDueDate_small">
          </div>
          <div class="input-field col s6">
            <label for="dueTime_small">End task by Time</label>
            <input id="dueTime_small" type="text" class="timepicker" ng-model="formDueTime_small">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <button ng-click="addSmallTasks()" class="btn waves-effect waves-light flex  modal-close">Create
              <i class="material-icons ">
                check
              </i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>


  <script src="scripts/materialize.min.js"> </script>
</body>

</html>
